---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
// import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Pricing from '~/components/widgets/Pricing.astro';

import { Accordion, AccordionItem } from 'accessible-astro-components';

// import { YouTube } from 'astro-embed';

const metadata = {
  title: 'Enaloc - Licenciatura',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <!-- image={{ src: '~/assets/images/hero-image.png', alt: 'Enaloc school' }} -->
  <Hero
    actions={[
      {
        variant: 'primary',
        text: '¡Inscríbete Ahora!',
        href: '/contact',
        target: '_blank',
        icon: 'tabler:square-rounded-arrow-right',
      },
      { text: '¡Solicita información!', href: '/contact' },
    ]}
    image={{ src: '~/assets/images/titulacion1.jpg', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Convierte tu Pasión en una Carrera Profesional
      <!-- <span class="text-accent dark:text-white highlight" style="color:rgb(210, 134, 0);"> ENALOC </span> -->
    </Fragment>

    <Fragment slot="subtitle">
      Obtén tu título en locución con <span class="font-semibold">validez oficial </span> y abre nuevas puertas en tu carrera.
    </Fragment>

    <!-- <Fragment slot="image">
      <YouTube id="cAK6Bak8pBw" title="" />
      <style is:inline>
        lite-youtube {
          margin: 0 auto;
          max-width: 100%;
        }
      </style>
    </Fragment> -->
  </Hero>

  <!-- Content Widget **************** -->

  <Hero2
    tagline=""
    title="Valida tus Conocimientos y Obtén tu Título"
    subtitle="Si ya has invertido tiempo y esfuerzo en formarte como locutor, ahora es el momento de certificar esos conocimientos con un título con validez oficial. Las empresas buscan profesionales certificados, lo que te brinda una ventaja competitiva en el mercado."
    actions={[
      {
        variant: 'primary',
        text: '¡Inscríbete Ahora!',
        href: '/contact',
        target: '_blank',
        icon: 'tabler:square-rounded-arrow-right',
      },
      { text: '¡Solicita información!', href: '/contact' },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1516321497487-e288fb19713f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Click-through Landing Page Hero Image',
    }}
  />
  <!-- Note Widget ******************* -->

  <!-- <Note /> -->

  <!-- Features Widget *************** -->

  <Features
    id="beneficios"
    tagline=""
    title="Confianza y Seguridad para las Empresas"
    subtitle="Las empresas prefieren trabajar con profesionales de la voz certificados. Tener un título avalado por autoridades oficiales te brinda la confianza y seguridad de que estás en manos de expertos."
    items={[
      {
        title: 'Las empresas prefieren trabajar con profesionales de la voz certificados.',
        description: '',
        icon: 'tabler:certificate',
      },
      {
        title: '',
        description:
          'Tener un título avalado por autoridades oficiales te brinda la confianza y seguridad de que estás en manos de expertos.',
        icon: 'tabler:shield-lock',
      },
      /* {
        title: '',
        description: '',
        icon: 'tabler:list-check',
      },
      {
        title: '',
        description: '',
        icon: 'tabler:rocket',
      },
      {
        title: '',
        description: '',
        icon: 'tabler:user-filled',
      },
      {
        title: '',
        description: '',
        icon: 'tabler:bulb',
      }, */
    ]}
  />
  <Pricing
    title="Una Inversión Accesible"
    subtitle="El costo de nuestro programa es uno de los más bajos del mercado, y ofrecemos pagos diferidos sin intereses para hacerlo aún más alcanzable. ¡Haz realidad tu certificación profesional hoy!"
    prices={[
      {
        title: 'free',
        subtitle: 'Access to core features and a wide range of templates',
        price: '0',
        period: '/ month',
        callToAction: {
          target: '_blank',
          text: 'Get Started for Free',
          href: '#',
        },
      },
      {
        title: 'pro',
        subtitle: 'Premium templates and advanced customization',
        price: 15,
        period: '/ Month',
        callToAction: {
          target: '_blank',
          text: 'Upgrade to Pro',
          href: '#',
        },
        hasRibbon: true,
        ribbonTitle: 'popular',
      },
      {
        title: 'Enterprise',
        subtitle: 'Tailored solutions for large-scale projects',
        price: 45,
        period: '/ Month',
        callToAction: {
          target: '_blank',
          text: 'Unlock Enterprise Features',
          href: '#',
        },
      },
    ]}
  />

  <div class="mb-4 mx-4">
    <Fragment>
      <Accordion class="rounded-sm">
        <AccordionItem header="First Item">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quasi nobis optio? Qui in quo
            accusantium debitis sapiente obcaecati magnam incidunt sit. Molestiae exercitationem quibusdam quod
            veritatis laboriosam est tenetur.
          </p>
          <a href="#">Tab to me!</a>
        </AccordionItem>
        <AccordionItem header="Second Item">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quasi nobis optio? Qui in quo
            accusantium debitis sapiente obcaecati magnam incidunt sit. Molestiae exercitationem quibusdam quod
            veritatis laboriosam est tenetur.
          </p>
        </AccordionItem>
        <AccordionItem header="Second Item">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quasi nobis optio? Qui in quo
            accusantium debitis sapiente obcaecati magnam incidunt sit. Molestiae exercitationem quibusdam quod
            veritatis laboriosam est tenetur.
          </p>
        </AccordionItem>
        <AccordionItem header="Second Item">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quasi nobis optio? Qui in quo
            accusantium debitis sapiente obcaecati magnam incidunt sit. Molestiae exercitationem quibusdam quod
            veritatis laboriosam est tenetur.
          </p>
        </AccordionItem>

        <style is:global>
          .accordion__item {
            border: none;
          }
          .accordion__header {
            border: none;
          }
          .accordion__panel {
            border: none;
          }
          .accordion__ {
            border: none;
          }
        </style>

        <!-- ... -->
      </Accordion>
    </Fragment>
  </div>

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    stats={[
      { title: 'Alumnos activos', amount: '+196' },
      { title: 'Coaches', amount: '29' },
      // { title: '', amount: '48.4K' },
    ]}
  /> -->

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Jose Luis Orozco',
        // description: `Las claves de una comunicación efectiva. Una conferencia para que reflexiones sobre la importancia que tenemos en la actualidad, donde expresar desde el amor, puede transformar el rumbo de nuestro mundo.`,
      },
      {
        title: 'Andrea Orozco',
        // description:
        //   '¿Por qué hablar en público es uno de los miedos más fuertes y comunes en las personas? Aprendamos a no callar las cosas que pensamos o sentimos, reconocer la naturaleza del miedo de hablar en público y sus síntomas a nivel conductual, fisiológico y cognitivo, para aprender a controlarlo con consciencia. Una herramienta necesaria para todo tipo de público.',
      },
      {
        title: 'Luis Fernando Orozco',
        // description:
        //   'Hemos dejado de escuchar a nuestros seres amados, a las personas más cercanas, compañeros de la escuela o del trabajo y sobre todo a nosotros mismos',
      },
    ]}
    image={{
      src: '~/assets/images/enaloc cursos/losOrozco.jpg',
      alt: 'los orozco',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        ¡Bienvenido a “3x3: Taller Avanzado de Doblaje”!
      </h3>
      ¡Tres maestros del doblaje, durante tres horas a la semana, durante tres meses, no pierdas la oportunidad de aprender
      de los mejores!
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Introducción al Mundo de la Locución',
        description: 'Aprende a controlar tu voz y a transmitir emociones de manera auténtica y convincente.',
      },
      {
        title: 'Dominio de la Voz y Expresión Emocional',
        description:
          'Prepara tu instrumento vocal para el trabajo con una serie de ejercicios diseñados para mejorar la flexibilidad, la resonancia y el control de tu voz.',
      },
      {
        title: 'Análisis y Retroalimentación Personalizada',
        description:
          'Recibirás una evaluación detallada de tu trabajo por parte de Álvaro Álvarez. Descubrirás tus fortalezas y áreas de mejora',
      },
      /* 
      {
        title: 'Community support',
        description: `Join the growing AstroWind community for insights, resources, and assistance, ensuring you're never alone on your web development journey.`,
      }, */
    ]}
    image={{
      src: '~/assets/images/enaloc cursos/mar_51.jpg',
      alt: 'Astronauts Image',
    }}
  >
    <!-- <Fragment slot="content">Designed to foster growth and success.</Fragment> -->

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <!-- <Steps
    title="Get your dream website up and running in no time with AstroWind."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Download</span>',
        description:
          "Kickstart with GitHub! Either fork the AstroWind template or simply click 'Use this template'. Your canvas awaits, ready for your digital masterpiece. In just a few clicks, you've already set the foundation.",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Add content</em>',
        description:
          "Pour your vision into it. Add images, text, and all that jazz to breathe life into your digital space. Remember, it's the content that tells your story, so make it captivating.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Customize styles</span>',
        description:
          'Give it your personal touch. Tailor colors, fonts, and layouts until it feels just right. Your unique flair, amplified by AstroWind! Precision in design ensures a seamless user experience.',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  /> -->

  <!-- Features2 Widget ************** -->

  <!-- <Features2
    title="Most used widgets"
    subtitle="Provides frequently used components for building websites using Tailwind CSS"
    tagline="Components"
    items={[
      {
        title: 'Headers',
        description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Content',
        description:
          "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'That enthusiastic friend who\'s always urging, "Do it! Do it!"? Yeah, that\'s this button nudging you towards adventure.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description: 'Behold the dessert menu of the website world. Tempting choices await, can you resist?',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description: 'Step into the gossip corner! Here, other visitors spill the beans and share the juicy details.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Like a digital mailbox, but faster! Drop a line, ask a question, or send a virtual high-five. Ding! Message in.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description: "The footer's like the credits of a movie but sprinkled with easter eggs. Time to hunt!",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2> -->

  <!-- HighlightedPosts Widget ******* -->

  <!-- <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  /> -->

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Preguntas frecuentes"
    subtitle=""
    tagline=""
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: '¿Se aprende desde casa?',
        description:
          'Si, puedes estudiar desde tu casa de manera online, ya que contamos con un modelo educativo organizado a través de módulos en vivo, seguimiento a través de tutorias y una plataforma online. Tendrás la oportunidad de prácticar en vivo con especialistas de la voz y figuras del medio.',
      },
      {
        title: '¿Requiero haber estudiado ciencias de la comunicación para hacer locución?',
        description:
          'No es necesario, con el modelo educativo Power of voice vas a aprender las técnicas de comunicación y expresividad para contar con la técnica y potenciar tus habilidades.',
      },
      {
        title: '¿Es indispensable tener la carrera de actuación para estudiar doblaje? ',
        description:
          'No es necesario, dentro de la preparación tendrás bases importantes de actuación y el modelo educativo Power of voice te brindará las habilidades necesarias para hacer doblaje profesional.',
      },
      {
        title: '¿Hay un límite de edad? ',
        description: 'No hay limite, puedes iniciar si tienes todo el deseo de alcanzar tus metas.',
      },
      {
        title: '¿Necesito experiencia para estudiar doblaje o Locución? ',
        description: 'No, con nosotros vas a adquirir desde cero todas las habilidades para la locución.',
      },
      {
        title: '¿Aprenderé a mejorar mi dicción y a modular mi voz? ',
        description:
          'Si, es parte fundamental de los módulos que vas a aprender a través del modelo educativo Power of voice. ',
      },
      {
        title: '¿Si tengo una voz nasal o no me gusta mi voz puedo estudiar?',
        description: 'Por supuesto ¡todas las voces funcionan! con base en una preparación.',
      },
      {
        title: '¿Puedo generar ingresos a través de mi voz?',
        description:
          'Claro que si, el desempeño, la constancia, y disciplina son fundamentales para comenzar a tener llamados en el doblaje y la locución.',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <!-- <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Astro&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction> -->
</Layout>
