---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Pricing from '~/components/widgets/Pricing.astro';
import ContactUs from '~/components/widgets/Contact.astro';

import { Accordion, AccordionItem } from 'accessible-astro-components';

// import { YouTube } from 'astro-embed';

const metadata = {
  title: 'Enaloc - Titulacion',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <!-- image={{ src: '~/assets/images/hero-image.png', alt: 'Enaloc school' }} -->
  <Hero
    actions={[
      {
        variant: 'primary',
        text: '¡Inscríbete Ahora!',
        href: '/#formTitulacion',
        target: '_blank',
        icon: 'tabler:square-rounded-arrow-right',
      },
      { text: '¡Solicita información!', href: '/#formTitulacion' },
    ]}
    image={{ src: '~/assets/images/titulacion1.jpg', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Convierte tu Pasión en una Carrera Profesional
      <!-- <span class="text-accent dark:text-white highlight" style="color:rgb(210, 134, 0);"> ENALOC </span> -->
    </Fragment>

    <Fragment slot="subtitle">
      Obtén tu título en locución con <span class="font-semibold">validez oficial </span> y abre nuevas puertas en tu carrera.
    </Fragment>

    <!-- <Fragment slot="image">
      <YouTube id="cAK6Bak8pBw" title="" />
      <style is:inline>
        lite-youtube {
          margin: 0 auto;
          max-width: 100%;
        }
      </style>
    </Fragment> -->
  </Hero>

  <!-- Content Widget **************** -->

  <Hero2
    tagline=""
    title="Valida tus Conocimientos y Obtén tu Título"
    subtitle="Si ya has invertido tiempo y esfuerzo en formarte como locutor, ahora es el momento de certificar esos conocimientos con un título con validez oficial. Las empresas buscan profesionales certificados, lo que te brinda una ventaja competitiva en el mercado."
    actions={[
      {
        variant: 'primary',
        text: '¡Inscríbete Ahora!',
        href: '#formTitulacion',
        target: '_blank',
        icon: 'tabler:square-rounded-arrow-right',
      },
      { text: '¡Solicita información!', href: '#formTitulacion' },
    ]}
    image={{
      src: '~/assets/images/titulacion2.jpg',
      alt: 'Click-through Landing Page Hero Image',
    }}
  />
  <!-- Note Widget ******************* -->

  <!-- <Note /> -->

  <!-- Features Widget *************** -->

  <Features
    id="beneficiosEmpresa"
    tagline=""
    title="Confianza y Seguridad para las Empresas"
    subtitle="Las empresas prefieren trabajar con profesionales de la voz certificados. Tener un título avalado por autoridades oficiales te brinda la confianza y seguridad de que estás en manos de expertos."
    items={[
      {
        title: 'Las empresas prefieren trabajar con profesionales de la voz certificados.',
        description: '',
        icon: 'tabler:certificate',
      },
      {
        title: '',
        description:
          'Tener un título avalado por autoridades oficiales te brinda la confianza y seguridad de que estás en manos de expertos.',
        icon: 'tabler:shield-lock',
      },
      /* {
        title: '',
        description: '',
        icon: 'tabler:list-check',
      },
      {
        title: '',
        description: '',
        icon: 'tabler:rocket',
      },
      {
        title: '',
        description: '',
        icon: 'tabler:user-filled',
      },
      {
        title: '',
        description: '',
        icon: 'tabler:bulb',
      }, */
    ]}
  />
  <Pricing
    title="Una Inversión Accesible"
    subtitle="El costo de nuestro programa es uno de los más bajos del mercado, y ofrecemos pagos diferidos sin intereses para hacerlo aún más alcanzable. ¡Haz realidad tu certificación profesional hoy!"
    prices={[
      {
        title: 'Colegiatura',
        price: '54,000.00',
        period: '/ pago único',
        callToAction: {
          text: 'Solicitar',
          href: '#formTitulacion',
        },
        hasRibbon: true,
      },
      {
        title: 'Colegiatura',
        subtitle: '',
        price: '54,000.00',
        period: '/ 6 meses',
        hasRibbon: true,
        ribbonTitle: 'Próximamente...',
      },
      {
        title: 'Colegiatura',
        subtitle: '',
        price: '54,000.00',
        period: '/ 12 meses',
        hasRibbon: true,
        ribbonTitle: 'Próximamente...',
      },
      {
        title: 'Colegiatura',
        subtitle: '',
        price: '54,000.00',
        period: '/ 18 meses',
        hasRibbon: true,
        ribbonTitle: 'Próximamente...',
      },
    ]}
  />

  <div class="mb-4 mx-4" id="programaTitulacion">
    <HeroText tagline="" title="Detalles del Programa de Titulación" />
    <Fragment>
      <Accordion class="rounded-sm">
        <AccordionItem header="Requisitos">
          <Features
            items={[
              {
                description: 'Dirigido a alumnos y egresados de ENALOC que ya poseen conocimientos en locución.',
                icon: 'tabler:microphone-2',
              },
            ]}
          />
        </AccordionItem>
        <AccordionItem header="Proceso de Inscripción">
          <Features
            items={[
              {
                description: 'Paso a paso del proceso de inscripción y pago.',
                icon: 'tabler:circle-1-filled',
              },
              {
                description: 'Paso a paso del proceso de inscripción y pago.',
                icon: 'tabler:circle-2-filled',
              },
              {
                description: 'Paso a paso del proceso de inscripción y pago.',
                icon: 'tabler:circle-3-filled',
              },
            ]}
          />
        </AccordionItem>
        <AccordionItem header="Modalidades de Titulación">
          <Features
            items={[
              {
                description: 'Escoge entre examen teórico-práctico o taller de 18 meses.',
                icon: 'tabler:checklist',
              },
            ]}
          />
        </AccordionItem>
        <AccordionItem header="Costo del Programa">
          <Features
            items={[
              {
                description: '$50,000.00 con opciones de financiamiento.',
                icon: 'tabler:coin',
              },
            ]}
          />
        </AccordionItem>

        <style is:global>
          .accordion__item {
            border: none;
          }
          .accordion__header {
            background-color: rgba(0, 0, 0.01, 0.025);
            font-size: 1.5rem;
            border: none;
          }
          .accordion__panel {
            border: none;
          }
          .accordion__ {
            border: none;
          }
          .accordion__header {
            border: none;
          }

          .accordion__item:only-of-type .accordion__header,
          .accordion__item:last-of-type .accordion__header {
            border: none;
          }

          .accordion__item:only-of-type .accordion__panel,
          .accordion__item:last-of-type .accordion__panel {
            border: none;
          }
          .is-active .accordion__header {
            border: none;
          }

          .is-active .accordion__panel {
            border: none;
          }
        </style>
        <!-- ... -->
      </Accordion>
    </Fragment>
  </div>

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    stats={[
      { title: 'Alumnos activos', amount: '+196' },
      { title: 'Coaches', amount: '29' },
      // { title: '', amount: '48.4K' },
    ]}
  /> -->

  <!-- Features Widget *************** -->

  <Features
    id="beneficios"
    tagline=""
    title="¿Por Qué Elegir la Titulación de ENALOC?"
    subtitle=""
    items={[
      {
        title: 'Profesionalización',
        description: 'Obtención de un título y cédula con validez oficial',
        icon: 'tabler:award',
      },
      {
        title: 'Acceso Exclusivo',
        description: 'Pertenencia a una red de locutores, actores de doblaje, maestros de ceremonia.',
        icon: 'tabler:discount-check',
      },
      {
        title: 'Oportunidades de Networking',
        description: 'Conéctate con los mejores profesionales de la industria.',
        icon: 'tabler:affiliate',
      },
      {
        title: 'Soporte Continuo',
        description: 'Asesoría y acompañamiento durante todo el proceso.',
        icon: 'tabler:rocket',
      },
    ]}
  />

  <HeroText tagline="" title="¡Contáctanos!" />

  <ContactUs
    id="formTitulacion"
    title="Solicita Más Información"
    subtitle="¡Envíanos un mensaje hoy!"
    inputs={[
      {
        type: 'text',
        name: 'nombre',
        label: 'Nombre Completo',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Correo Electrónico',
      },
      {
        type: 'number',
        name: 'whatsApp',
        label: 'Número de WhatsApp',
      },
    ]}
    textarea={{
      label: 'Mensaje',
    }}
    description="Te contactaremos a la brevedad para resolver todas tus dudas."
  />
</Layout>
